<app-card-person *ngFor="let personPreview of personPreviews" [person]="personPreview" operation="FORM"></app-card-person>
<form (ngSubmit)="onSubmit()" [formGroup]="formPerson" (change)="onChanges()">
  <div class="row form-group">
    <div class="col">
      <div class="mb-3">
        <label for="person-name" class="form-label">Person Name</label>
        <input type="string" formControlName="name" class="form-control" id="person-name" placeholder="Name Surname">
      </div>
    </div>
    <div class="col">
      <div class="mb-3">
        <label for="person-email" class="form-label">Email address</label>
        <input type="email" formControlName="email" class="form-control" id="person-email" placeholder="name@example.com">
      </div>
    </div>
  </div>
  <div class="row form-group">
    <div class="col">
      <div class="mb-3">
        <label for="person-phone" class="form-label">Phone number</label>
        <input type="number" formControlName="phone" class="form-control" id="person-phone" placeholder="(011) 9 9090 8080">
      </div>
    </div>
    <div class="col">
      <div class="mb-3">
        <label for="person-job" class="form-label">Job</label>
        <select type="email" formControlName="profession" class="form-control" id="person-job">
          <option *ngFor="let profession of professionsList" [value]="profession.id">{{profession.name}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row ">
    <div class="col text-center">
      <button type="submit" class="btn btn-primary">Submit</button>
      </div>
  </div>
</form>
