<div class="card py-3 my-3">
  <div class="card-body row ">
    <div class=" col-auto">
      <img style="width: 200px; height: auto;" alt="person image"
           src="https://upload.wikimedia.org/wikipedia/commons/b/bc/Unknown_person.jpg" class="card-img-top"/>
    </div>
    <div class="col text-left ">
      <div class="row border-bottom"><p class="fs-3">{{personEntity?.name}}</p></div>
      <div *ngIf="operation.toUpperCase() == 'VIEW' || operation.toUpperCase() == 'FORM'">
        <div class="row"><p class="fs-3"><label class="pe-2">Email:</label>{{personEntity?.email}}</p></div>
        <div class="row"><p class="fs-3"><label class="pe-2">Phone:</label>{{personEntity?.phone}}</p></div>
      </div>
      <div class="row"><p class="fs-3"><label class="pe-2">Profession:</label>{{personEntity?.profession?.name}}</p></div>
    </div>
  </div>
  <button *ngIf="operation.toUpperCase() == 'LIST'" [routerLink]="['./detail-person/', personEntity.id]"
          class="btn btn-primary align-self-end mx-2">
    Read more<i class="bi bi-chevron-double-right"></i>
  </button>
  <button style="width: 125px" *ngIf="operation.toUpperCase() == 'VIEW'" [routerLink]="['../../edit/', personEntity?.id]"
          class="btn btn-success align-self-end mx-2 mb-3">
    Edit
  </button>
  <button *ngIf="operation.toUpperCase() == 'VIEW'" data-bs-toggle="modal" data-bs-target="#exampleModal"
          class="btn btn-danger align-self-end mx-2">
    Delete person
  </button>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Person</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Do you really want delete this user?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="onDelete(personEntity?.id)">Delete</button>
      </div>
    </div>
  </div>
</div>
